<div class="footer wrapper">
	<div id="mc_embed_signup">
		<form action="https://michellelim.us2.list-manage.com/subscribe/post?u=cf007b8800f2adebe180e8078&amp;id=6540dfdf5c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
			<div id="mc_embed_signup_scroll">
				<label for="mce-EMAIL">Subscribe for new writing!</label>
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required="">
				
				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cf007b8800f2adebe180e8078_6540dfdf5c" tabindex="-1" value=""></div>
				<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			</div>
		</form>
	</div>
	<div class="twitter-button">
		<iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-follow-button twitter-follow-button-rendered" style="position: static; visibility: visible; width: 150px; height: 20px;" title="Twitter Follow Button" src="https://platform.twitter.com/widgets/follow_button.2b2d73daf636805223fb11d48f3e94f7.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=michlimlim&amp;show_count=false&amp;show_screen_name=true&amp;size=m&amp;time=1676239060826" data-screen-name="michlimlim"></iframe>
	</div>
	<nav class="nav">
		<div>{{ with .Site.Copyright }} Copyright © {{ now.Year }} {{ . }} | {{ end }} <a href="https://github.com/vividvilla/ezhil">Ezhil theme</a></div>
	</nav>
</div>

{{ if not .Site.IsServer }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}
{{- with .Site.Params.Social -}}
<script>feather.replace()</script>
{{- end -}}
